<h1>Login</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <br>
<% end %>

<%# using :user b/c not creating new user %>
<%# this is a form for user model & fields are attr of model %>
<%# form_for User.new, url: login_path do |f| %>

<%= form_for :user do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>
  
  <%= f.submit "Login" %>

<% end %>

<br>

<%= link_to "Go Back", root_path %>