<h2> Welcome <%= @user.username %> </h2>

<p><%= flash[:alert] %></p>

<%= review_message %>

<ul>
  <% @user.reviews.each do |r| %>
    <li>
      <%= link_to r.book.title_and_author, book_path(r.book) %> - 
      <%= link_to "See your review", review_path(r) %> <br>
    </li>
  <% end %>
</ul>
