<%= render partial: 'layouts/errors', locals: {object: @book} %>

<%= form_for @book do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <br>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <br>

  <div>
    <%= f.label :genre_id, "Select a pre-existing genre: " %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "Select Genre" %>
  <div> 

  <br>
  
  Or 

  <br>
  <br>

  <div>
    <%= f.fields_for :genre do |g| %>
      <%= g.label :name, "Create a new genre: " %>
      <%= g.text_field :name %>
    <% end %>
  </div>

  <br>
  <br>

  <%= f.submit %>

<% end %>