<h2>Create Book </h2>

<%= form_for @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
 
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <br>
  <br>

  <%= f.label :description %><br>
  <%= f.text_area :description %>

  <br>
  <br>
  
  <p>Select a currently existing Genre</p>
  <%= f.label :genre_id %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "Select Genre" %>

  <br>
  <br>

  <p>Or create a new Genre</p>
  <%= f.fields_for :genre do |genre_field| %>
    <%= genre_field.label :name %>
    <%= genre_field.text_field :name %>
  <% end %>
  
  <%= f.submit %>

<% end %>