
<h3> <%= @book.title %> by <%= @book.author %> </h3>

<div>
  <%= @book.description %>  
</div>

<br>

<div>
  Genre: <%= @book.genre.name %>
</div>

<br>

<div>
  <%= link_to "Write a review for this book", new_book_review_path(@book) %>
  Or 
  <%= link_to "See reviews for this book", book_reviews_path(@book) %>
</div>