
<h3> <%= @book.title %> by <%= @book.author %> </h3>

<p>
  Description: <br> <%= @book.description %>
</p> 

Genre: <%= @book.genre.name %>

Reviews: <% @book.reviews.each do |r| %>
            <%= r.content %>
          <% end %>