<h2> <%= @book.title %> by <%= @book.author %> </h2>

<p> 
  <b> Description: </b>
  <br>  
  <%= @book.description %> 
</p>

<b> Genre: </b> <%= @book.genre.name %>

<ul>  
  <li> <%= link_to "See all reviews for this book", book_reviews_path(@book) %> </li>
  <li> <%= link_to "Write A review for this book", new_book_review_path(@book) %> </li>
  <li> See something wrong? - <%= link_to "Edit Book Entry", edit_book_path(@book) %> </li>
</ul>