<h3> Editing <%= current_user.username %>'s review of <%= @review.book.title_and_author%> </h3>

<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= form_for @review do |f| %>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <br> 

  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating, min: 0, max: 5 %>
  </div>

  <br>

  <%= f.submit %>

<% end %>