<!-- 
<%= form_tag("/reviews", method: "get") do %>
  <%= select_tag "book", options_from_collection_for_select(Book.all, "id", "title"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<%= form_tag "/reviews", method: "get" do %>
  <%= text_field :book, :title, list: "books_autocomplete" %>
    <datalist id="books_autocomplete">
      <% Book.all.each do |book| %>
        <option value="<%= book.title %>">
      <% end %>
    </datalist>
    <%= submit_tag "submit" %>
  <% end %>
-->

<p><%= book_reviews_message %></p>

<ul>
  <% @reviews.each do |r| %>
    <li>
      <b> <%= r.book.title_and_author %> </b> <br>
      <b>  Review date: </b> <%= created_at(r) %> <br> 
      <b> Reviewed by user: </b> <%= r.user.username %> <br>
      <b> Rating: </b> <%= r.rating %> <br>
      <%= link_to "Read Review", review_path(r) %>
    </li>
    <br>
  <% end %>
</ul>
