<%= display_header_for_index %>

<ul>
  <% @reviews.each do |r| %>
    <li>
      <b> <%= r.book.title_and_author %> </b> <br>
      <b>  Review date: </b> <%= created_at(r) %> <br> 
      <b> Reviewed by user: </b> <%= r.user.username %> <br>
      <b> Rating: </b> <%= r.rating %> <br>
      <%= link_to "Read Review", review_path(r) %>
    </li>
    <br>
  <% end %>
</ul>
