<%= display_header_for_index %>

<% if @reviews.empty? %>
  <h3> There are currently no reviews </h3>
<% else %>
  <ul>
    <% @reviews.each do |r| %>
      <li>
        <%= r.book.title %> by <%= r.book.author %> <br>
        Reviewed by: <%= r.user.username %> on <%= created_at(r) %> <br>
        Rating: <%= r.rating %> <br>
        <%= link_to "Read Review", review_path(r) %>
      </li>
      <br>
    <% end %>
  </ul>
<% end %>