<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
      <% @review.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%# if/then for this %>
<% if @book %>
  <h2><%= current_user.username %> Writing review for: <%= @book.title %></h2>
<% end %>

<%= form_for @review do |f| %>

  <br> 

  <div>
    <% if @book %>
      <%= f.hidden_field :book_id %>
    <% else %>
      <%= f.label "Select A Book To Review" %> 
      <%= f.collection_select :book_id, Book.all, :id, :title_and_author, include_blank: "Select A Book" %>
    <% end %>
  </div>
  
  <br>

  <div>
    <%= f.label :review %>
    <%= f.text_area :content %>
  </div>

  <br> 

  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating, min: 0, max: 5 %>
  </div>

  <br>

  <%# change to dropdown if no id %>

  <%= f.submit %>

<% end %>