
<h2> Book review: <%= @review.book.title_and_author%> </h2>

Reviewed by user: <%= @review.user.username %>

<p>
  <%= @review.content %>
</p>

<b> Rating: </b> <%= @review.rating %> / 5

<br>
<br> 

<%= links_to_edit_and_delete %>