
<h4> Review: <%= @review.book.title %> by <%= @review.book.author %> </h4>

User: <%= @review.user.username %>

<div>
  Content: <%= @review.content %>
</div>

<br>

<div>
  Rating: <%= @review.rating %>
</div>

