
<h3> <%= @review.book.title %> by <%= @review.book.author %> </h3>

<p>
  Reviewer: <%= @review.user.username %>
</p> 

<br>

<div>
  <%= @review.content %>
</div>

<br>

<div>
  <%= @review.rating %>
</div>

