<!DOCTYPE html>
<html>
  <head>
    <title>BookReviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user %>
    <%= link_to "Home", user_path(current_user) %> |
    <%= link_to "Books Index", books_path %> |
    <%= link_to "Add Book To Index", new_book_path %> |
    
    
    <%= link_to "View Genres", genres_path %> |
    <%= link_to "Log Out", logout_path, method: :delete %> |
  <% end %> 

  <body>
  
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>

  </body>
</html>
